<div class="banner">
  <h1>Ask something to your coach!</h1>
</div>
<div class="container">
  <form action="/answer" method="get">
    <input type="text" name="answer" placeholder="What do you want to do?">
    <input type="submit">
  </form>
</div>
